<footer>
  <div class="BoxesContainer">
    <div class="BoxFooter1">
      <h3>Contacto</h3>
      <a href="mailto:fseura@tinogasta.gob.ar" target="_blank">fseura@tinogasta.gob.ar</a>
      <p></p>
      <p></p>
    </div>
    <div class="BoxFooter2">
      <h3>Enlaces</h3>
      <p class="Terms" (click)="navigateToTerms()" onclick="GoStart()">Términos y Condiciones</p>
      <p class="Terms" (click)="navigateToTinogastagob()">Volver al Home de Tinogasta.gob</p>
      <p></p>
    </div>
    <div class="BoxFooter3">
      <button onclick="GoStart()" id="Up">
        <img src="./assets/Icons/Up.png" />
      </button>
      <h3></h3>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
  <div class="EndPage">
    <div class="BoxEnd1"></div>
    <div class="BoxEnd2">
      <p style="color: white">¡Gracias por visitar Tinomarca!</p>
    </div>
    <div class="BoxEnd3">
      <h1 class="Brand">Tinomarca</h1>
    </div>
  </div>
</footer>
