<header>
  <div class="LogonHeader">
    <h1 class="Brand">Tinomarca</h1>
    <p class="Slogan">Tu Futuro Laboral Comienza Aquí</p>
  </div>
  <div class="ToolBar">
    <nav>
      <ul type="none">
        <li (click)="navigateToHome()">Home</li>
        <li (click)="navigateToTinogastagob()">Ir a Tinogasta.gob.ar</li>
        <li (click)="navigateToBBDD()">Consultar BBDD</li>
        <li (click)="navigateToLogin()">Crear CV</li>
        <li onclick="GoContacto()">Contacto</li>
      </ul>
    </nav>
  </div>
</header>
