<app-header></app-header>
<body>
  <div class="BoxHome">
    <div class="DDBB" (click)="navigateToBBDD()">
      <div class="ImgDDBB-Btn">
        <img src="./assets/Icons/PapersColum.png" />
      </div>
      <div class="TittleDDBB-Btn"><p>Consultar Base de Datos</p></div>
    </div>
    <div class="CrearCV" (click)="navigateToLogin()">
      <div class="ImgCrearCV-Btn">
        <img src="./assets/Icons/Paper.png" />
      </div>
      <div class="TittleCrearCV-Btn"><p>Crear CV</p></div>
    </div>
  </div>
</body>
<app-footer></app-footer>